<div class="flex-form-container">
    <div class="flex-form-checkbox">
        <ng-container *ngFor="let data of dataCheckBox; let i = index;">
            <div class="flex-label">
                <p-checkbox [name]="data.name" [label]="data.name" (onChange)="onSelectChange($event, i)"></p-checkbox>
            </div>
        </ng-container>
    </div>
</div>

<!-- output -->
<h5>Output :</h5>
<pre style="border: 1px solid gray;padding: 20px !important;background: #dedede;">{{ dataCheckBox | json }}</pre>